@use "sass:map";

@import './_base.scss';

main {
    //display: flex;
    //flex-direction: column;
    //min-height: 100vh;
}

footer {
    font-size: .75rem;
    text-align: center;
    margin-top: auto;
    padding: 0.5rem
}

a {
    text-decoration: none;
}

header {
    background-color: $base;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;

    .navbar-brand {
        font-size: 1.25rem;
        white-space: nowrap;
        margin-right: 1rem;
        color: $light;
        display: flex;
        align-items: center;

        &:focus {
            color: $light;
        }

        img {
            width: auto;
            max-height: 3rem;
            margin-right: .5rem;
        }
    }

    .navbar-nav {
        display: flex;
        margin: .5rem auto 0 auto;

        &.navbar-left {
            margin-right: auto;
        }
        &.navbar-center {
            margin-left: auto;
            margin-right: auto;
        }

        .nav-item {
            width: auto;

            &+.nav-item {
                margin-left: .75rem;
            }
        }
    }

    @media screen and (min-width: map.get($breakpoints, md)) {
        .navbar-nav {
            margin: 0 0 0 auto;
        }
    }
}

.card-list {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 1rem;

    .card {
        border: thin solid $border-color;
        border-radius: $border-radius;
        min-width: 0;

        .card-image {
            overflow: hidden;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 3/2;
            object-fit: cover;
            transition: .5s ease;
        }

        .card-info {
            padding: .5rem .75rem;

            .card-title {
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $dark;
            }
        }

        &:hover img {
            scale: 1.1;
        }
    }

    @media screen and (min-width: map.get($breakpoints, md)) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: map.get($breakpoints, lg)) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: map.get($breakpoints, xl)) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: map.get($breakpoints, xxl)) {
        grid-template-columns: repeat(5, 1fr);
    }
}




